@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Poppins:wght@100..900&family=Montserrat:wght@100..900&family=Roboto:wght@100..900&family=Lato:wght@100..900&family=Nunito:wght@200..1000&family=Work+Sans:wght@100..900&family=Playfair+Display:wght@400..900&family=Merriweather:wght@300..900&display=swap');
@import "../styles/tiptap.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Archivo", sans-serif;
}

* {
  font-family: "Archivo", sans-serif;
}

.shareiconbtnfb {
    padding-right: 0;
    padding-left: 0;
cursor:pointer;
}
.shareiconbtnlnkdn {
    padding: 0;cursor:pointer;
}
.shareiconbtnemail {
    padding-left: 0;cursor:pointer;
}

.custom-job-card-button, .custom-apply-button
{
font-family: "Poppins", sans-serif !important;
}
.custom-job-card-button:before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 41px;
  background: linear-gradient(270deg, #ee4038, #fbbc16, #00994d, #29256a, #ee4038);
  background-size: 800% 800%;
  z-index: -1;
  transition: opacity 0.4s ease;
  opacity: 0;
  border-radius: 50px;
}

.custom-job-card-button:hover:before {
  animation: gradientFlow 6s ease infinite;
  opacity: 1;
}

.custom-job-card-button:hover {
  color: white;
  border-color: transparent; /* Prevent layout shift */
}

@keyframes gradientFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
} 

.jobs-summary{
  margin-bottom: 25px;
  font-weight: 400;
  text-align: center;

}

.jobcardtitle{
   margin-bottom: 6px;
    font-size: 25px;
    font-weight: 500;
    color: #56585D;
    text-align: center;
    text-transform: capitalize;
}

.prose.prose-lg.prose-indigo.max-w-none {
    color: #020101;
}
.blockheading{
  color:#FDBB11;
  font-size: 15px;
    line-height: 1;
    max-width: 95%;
    text-align: left;
    padding-block-start: 15px;
    padding-block-end: 15px;
        font-weight: 700;
    text-transform: uppercase;
    margin-right: 10px;
}

.headingmaindiv{
      direction: ltr;
    display: flex;
    align-items: center;
    width: 150px;
    margin: 0 auto;
    margin-left: 0;
}

.headingmaindiv:after{
   border-block-start: 2px solid #FDBB11;
    content: "";
    display: block;
    flex-grow: 1;
}
